@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
#f94144
rgb(249, 65, 68)

#f82529
rgb(248, 37, 41)

#fb7477
rgb(251, 116, 119)

#fdc4c5
rgb(253, 196, 197)
*/
:root {
  --primary-bg: 249, 65, 68;
}

.btn-primary {
  --btn-bg-color: 249, 65, 68;
  --btn-text-color: 255, 255, 255;
  --btn-spinner-color: 255, 255, 255;
  --btn-bg-hover-color: 248, 37, 41;
  --btn-bg-active-color: 248, 37, 41;
  --btn-ring-color: 248, 37, 41;
  --btn-disabled-color: 253, 196, 197;
}

.btn-ghost {
  --btn-bg-color: transparent;
  --btn-text-color: 31, 41, 55;
  --btn-spinner-color: 31, 41, 55;
  --btn-bg-hover-color: transparent;
  --btn-bg-active-color: transparent;
  --btn-ring-color: 209, 213, 219;
  --btn-disabled-color: 209, 213, 219;
}

/* 
  #f3f4f6
  rgb(243, 244, 246)
  rgb(229, 231, 235)
  */
.btn-secondary {
  --btn-bg-color: 243, 244, 246;
  --btn-text-color: 31, 41, 55;
  --btn-spinner-color: 31, 41, 55;
  --btn-bg-hover-color: 229, 231, 235;
  --btn-bg-active-color: 229, 231, 235;
  --btn-ring-color: 229, 231, 235;
  --btn-disabled-color: 229, 231, 235;
}

.btn-unstyled {
  --btn-bg-color: 255, 255, 255;
  --btn-text-color: 0, 0, 0;
  --btn-spinner-color: 31, 41, 55;
  --btn-bg-hover-color: 229, 231, 235;
  --btn-bg-active-color: 229, 231, 235;
  --btn-ring-color: 55, 65, 81;
  --btn-disabled-color: 229, 231, 235;
}

.btn-danger {
  --btn-bg-color: 239, 68, 68;
  --btn-text-color: 255, 255, 255;
  --btn-spinner-color: 255, 255, 255;
  --btn-bg-hover-color: 220, 38, 38;
  --btn-bg-active-color: 220, 38, 38;
  --btn-ring-color: 220, 38, 386;
  --btn-disabled-color: 252, 165, 165;
}

.Toastify__toast-container {
  @apply bg-transparent p-3 md:p-0  !important;
}

.Toastify__toast {
  @apply mb-3 rounded-2xl bg-transparent p-0 shadow-lg !important;
}

.Toastify__toast-body {
  @apply bg-transparent p-0 !important;
}

.Toastify__close-button {
  @apply bg-transparent p-2 hover:text-gray-500 !important;
}
